/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
.body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

.decal {
  position: relative;
  top: 59px;
}

.modeEdition {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 59px;
  z-index: 100;

  justify-content: center;
  align-items: center;
  background-color: black;
}

.modeEditionLog {
  display: flex;
}

.edition img {
  position: absolute;
}

.crayon {
  bottom: 4px;
  left: 4px;
}

.carre {
  bottom: 0;
  left: 0;
}

.edition {
  position: relative;
  padding-left: 30px;
  color: white;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
}

.proj {
  position: relative;
}

.proj > .edition {
  color: black;
}

.editionProj {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
}

.editionProjLog {
  display: block;
}

.publication {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 14px;
  padding: 11px 23px 11px 23px;
  border-radius: 60px;
  background-color: white;
  margin-left: 21px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.filtres-container {
  display: flex;
  justify-content: center;
  margin: 51px 0 51px 0;
  font-size: 16px;
  font-family: "Syne";
  font-weight: 700;
  color: rgba(29, 97, 84, 1);
  gap: 10px;
}

.filtres {
  border: 1px solid rgba(29, 97, 84, 1);
  border-radius: 60px;
  padding: 9px 20px 9px 20px;
  cursor: pointer;
}

.filtres-selected {
  color: white;
  background-color: rgba(29, 97, 84, 1);
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  height: 452.6px;
  object-fit: cover;
}
#contact,
#login {
  width: 50%;
  margin: auto;
}

#login {
  margin: 100px auto;
}
#contact > *,
#login > * {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#contact form,
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
  margin: 2em 0 1em 0;
}
#contact textarea,
#login textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.forgotten {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  color: rgba(61, 61, 61, 1);
  text-decoration: underline;
  cursor: pointer;
}

/* Style Modale  */

.modale-item {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 461px;
  left: 50%;
  transform: translate(-50%);
  width: 630px;
  background-color: white;
  z-index: 11;
  border-radius: 10px;
  transition: 2s ease-out;
}
.modale {
  position: absolute;
  top: -50px;
  left: 0;
  content: "";
  margin: 0;
  width: 100%;
  height: calc(100% + 59px);
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.modale-class_visible {
  display: unset;
}

.back {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

.cross {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 36px;
  top: 32px;
  cursor: pointer;
}

.cross-elem {
  height: 17px;
  width: 1px;
  position: absolute;
  background-color: black;
}

.cross-left {
  transform: rotate(45deg);
}

.cross-right {
  transform: rotate(-45deg);
}

.modale-galerie {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 23px;
  justify-content: center;
}

.modale-galerie h3,
.modale-ajout h3 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  margin-bottom: 23px;
}

.line {
  background-color: rgba(179, 179, 179, 1);
  height: 1px;
  width: 420px;
  margin: 24px auto 15px auto;
}

.galerie-dyn {
  display: grid;
  grid-template-rows: repeat(auto-fill, 137px);
  grid-template-columns: repeat(auto-fill, 78px);
  grid-column-gap: 7px;
  grid-row-gap: 12px;
}

.galerie-dyn_item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.galerie-dyn_item p {
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 400;
  text-indent: 1px;
}

.logo-black {
  position: absolute;
  top: 7px;
  right: 5px;
  background-color: black;
  border-radius: 2px;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-black2 {
  position: absolute;
  top: 7px;
  right: 29px;
  background-color: black;
  border-radius: 2px;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modale-item input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: auto;
  width: auto;
  text-align: center;
  border-radius: 60px;
  padding: 10px 49px 10px 49px;
  cursor: pointer;
}

.delete {
  text-align: center;
  font-family: "Syne";
  font-weight: 400;
  font-size: 14px;
  color: rgba(214, 83, 83, 1);
  margin-bottom: 48px;
}

.modale-item input[type="submit"].inactiveOne {
  background-color: rgba(167, 167, 167, 1);
}
.modale-item input[type="submit"].inactiveTwo {
  width: 237px;
  border: none;
  margin-bottom: 55px;
}

.modale-item input[type="text"],
.modale-item select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-bottom: 11px;
}

.modale-ajout {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 10px;
}

.modale-ajout .line {
  margin: 26px auto 22px auto;
}

.ajout-photo {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: rgba(232, 241, 246, 1);
  margin-bottom: 20px;
}
.image-click {
  width: 58px;
  height: 46px;
  border: solid #b9b5cc 3px;
  margin-top: 28px;
  position: relative;
}

.mountains {
  position: absolute;
  top: 17px;
  left: 6px;
}

.sun {
  position: absolute;
  top: 11px;
  left: 11px;
}

label.click-ajout {
  margin-top: 14px;
  color: rgba(48, 102, 133, 1);
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(203, 214, 220, 1);
  padding: 10px 33px 10px 33px;
  border-radius: 50px;
}

label.click-ajout input {
  display: none;
}

.indications {
  margin-bottom: 19px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 10px;
  color: rgba(68, 68, 68, 1);
}

.indicationsRed {
  margin-bottom: 19px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 10px;
  color: red;
}

.flyingcookie {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 130px;
  left: 50%;
  transform: translate(-50%);
  width: 400px;
  background-color: white;
  border: solid teal 2px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 20px;
  z-index: 11;
  border-radius: 10px;
  transition: 2s ease-out;
  gap: 20px;
}

.flyingAccept {
  position: fixed;
  display: none;
}

.surprise {
  display: flex;
}

.flyingcookie p {
  max-width: 80%;
  text-align: justify;
}

.flyingcookie input {
  padding: 10px 33px 10px 33px;
  width: 220px;
  margin: unset;
}

.flyingInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.flyingcookieEscape {
  left: -400px;
}

li,
.edition {
  cursor: pointer;
}

output {
  position: relative;
  width: 420px;
  height: 177px;
}

output img {
  position: absolute;
  width: 100%;
  height: 177px;
  object-fit: contain;
}

.majax {
  display: none;
}

label.bigger {
  position: absolute;
  margin-top: unset;
  color: unset;
  background-color: unset;
  padding: unset;
  border-radius: unset;
  height: 177px;
  width: 420px;
}

.img-dyn {
  width: 100%;
  height: 103.91px;
  object-fit: cover;
}
